<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    
   
    <link href="{% static '/assets/layouts/vertical-light-menu/css/light/loader.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/layouts/vertical-light-menu/css/dark/loader.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static '/assets/layouts/vertical-light-menu/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static '/assets/src/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    
    <link href="{% static '/assets/layouts/vertical-light-menu/css/light/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/src/assets/css/light/authentication/auth-boxed.css' %}" rel="stylesheet" type="text/css" />
    
    <link href="{% static '/assets/layouts/vertical-light-menu/css/dark/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/src/assets/css/dark/authentication/auth-boxed.css' %}" rel="stylesheet" type="text/css" />

    
    
</head>
<body class="form">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible " id="alerta" role="alert">
        <strong>{{ message }}</strong>
        <button id="cerrar" type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            
        </button>
      </div>
    {% endfor %}
{% endif %}





    <div class="auth-container d-flex">

        <div class="container mx-auto align-self-center">
    
            <div class="row">
    
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
    
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    
                                    <h2>Login</h2>
                                    <p>Introduce tu numero de control y contraseña para ingresar</p>
                                    
                                </div>

                                <form action="/acceso/" method="post">
                                    {% csrf_token %}
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">Numero de control</label>
                                            <input type="text" class="form-control add-billing-address-input" id="ncontrol" name="ncontrol">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Contraseña</label>
                                            <input type="password" class="form-control" id="pass1" name="pass1">
                                        </div>
                                    </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <div class="form-check form-check-primary form-check-inline">
                                            <input class="form-check-input me-3" type="checkbox" id="form-check-default">
                                            <label class="form-check-label" for="form-check-default">
                                                Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <div class="mb-4">
                                        <button class="btn btn-secondary w-100">SIGN IN</button>
                                    </div>
                                </div>
                            </form>
                                
                               

                                <div class="col-12">
                                    <div class="text-center">
                                        <p class="mb-0">Dont't have an account ? <a href="javascript:void(0);" class="text-warning">Sign Up</a></p>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
    
     <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
     <!-- END GLOBAL MANDATORY SCRIPTS -->
     <script type="text/javascript">
         $(document).ready(function () {
     
             $('#cerrar').click(function () {
                 $('#alerta').alert('close');
             });
     
         });
     </script>
     <!-- END GLOBAL MANDATORY SCRIPTS -->
</body>
</html>