{% extends 'social/layout.html' %}
{% load humanize %}
{% block content %}

{% if user.is_authenticated %}
	
	<div style="display: flex; flex-direction: row;">
		<div class="main" style="width: 30%; text-align: center; height: 70vh;">
			<div style="margin-top: 40px;">
				<h2>IMAGEN</h2>
				<h2>@{{user.first_name}}</h2>
				<h2>Numero de control</h2>
				<h2>{{user.username}}</h2>

			</div>
			<div style="display: flex; flex-direction: row; margin-top: 40px;">
				<div style="width: 50%;">
					<h2>Nombre</h2>
					<h3>{{user.first_name}}</h3>
				</div>
				<div style="width: 50%;">
					<h2>Apellido</h2>
					<h3>{{user.last_name}}</h3>
				</div>
			</div>

		</div>

		<div class="main">

			<div>
				<form action="/post/" method="POST">
					{% csrf_token %}
					<div style="display: flex; flex-direction: row;">
						<h2>IMAGEN</h2>
						<textarea name="contenido" id="contenido"  cols="30" rows="1" style="margin-left: 10px;"></textarea>
					</div>
					<button type="submit"
						style="border-radius: 30px; width: 100%; background-color: #10E3BD;">Publicar</button>
				</form>
			</div>
{% endif %}






{% for post in posts %}


<article>
    <div class="container-article">
        <img src="{{ post.user.profile.imagen.url }}">
        <div>
            <h2 class="username"><a href="#">@{{post.user.username}}</a></h2>
            <i class="clock"></i>
            <time data-time="#">{{post.fecha|naturaltime}}</time>
            <div class="post">{{post.contenido}}</div>
           
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}