{% extends 'social/layout.html' %}
{% load humanize %}
{% load static %}

    





{% block content %}

{% if user.is_authenticated %}
	
	<div style="display: flex; flex-direction: row;">
		<div class="twPc-div" style="width: 100%; margin-top: 5%; margin-left: 20px; margin-right: 0;">
			<a class="twPc-bg twPc-block"></a>
		
			<div>
				<div class="twPc-button" style="margin-bottom: 10px;" >
					
					<a href="{% url 'profile' user.username  %} " class="button-30">Perfil</a>
					
					<a href="{% url 'signin' %}"" class="button-30">Salir</a>
					
				</div>
				
				
		
				<a title="user" class="twPc-avatarLink">
					<img alt="" src="{{user.profile.imagen.url}}" class="twPc-avatarImg">
				</a>
		
				<div class="twPc-divUser">
					<div class="twPc-divName">
						<a href="{% url 'profile' user.username  %}">{{user.first_name}} {{user.last_name}}</a>
					</div>
					<span>
						<a href="{% url 'profile' user.username  %}">@<span>{{user.username}}</span></a>
					</span>
				</div>
		
				<div class="twPc-divStats" style="margin-top: 10px;">
					<ul class="twPc-Arrange">
						<li class="twPc-ArrangeSizeFit">
						
								<span class="twPc-StatLabel twPc-block">Carrera</span>
								<span class="twPc-StatValue">Sistemas computacionales</span>
							
						</li>
						<li class="twPc-ArrangeSizeFit">
							
								<span class="twPc-StatLabel twPc-block">Correo</span>
								<span class="twPc-StatValue">{{user.email}}</span>
							
						</li>
						
					</ul>
				</div>
			</div>
		</div>

		
		





		

		<div class="main" style="margin-left:4%;">

			<div class="card gedf-card">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Publicacion
								</a>
						</li>
						
					</ul>
				</div>
				<form action="/post/"method="POST">
					{% csrf_token %}
				<div class="card-body">
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
							<div class="form-group">
								
								<textarea class="form-control" name="contenido" id="contenido" rows="3" placeholder="Postea lo que quieras"></textarea>
							</div>
	
						</div>
					
					</div>
					<div class="btn-toolbar justify-content-between">
						<div class="btn-group">
							<button type="submit" class="btn btn-primary">Publicar</button>
						</div>
						
					</div>
				</div>
			</form>
			</div>
			
		
{% endif %}






{% for post in posts %}


<div class="card gedf-card" style="margin-top: 10px; margin-left: 4px; margin-right: 4px;">
	<div class="card-header">
		<div class="d-flex justify-content-between align-items-center">
			<div class="d-flex justify-content-between align-items-center">
				<div class="mr-2">
					<img class="rounded-circle" width="45" src="{{post.user.profile.imagen.url}}" alt="">
				</div>
				<div class="ml-2">
					<a href="{%url 'profile' post.user.username %}" class="h5 m-0">@{{post.user.username}}</a>
					<div class="h7 text-muted">{{post.user.first_name}} {{post.user.last_name}}</div>
				</div>
			</div>
			<div>
				
			</div>
		</div>

	</div>
	<div class="card-body">
		<div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{post.fecha|naturaltime}}</div>
	
		<p class="card-text">
			{{post.contenido}}
		</p>
	</div>
	
</div>
{% endfor %}
{% endblock %}