{% extends 'social/layout.html' %}
{% load humanize %}
{% block content %}

{% for post in posts %}


<article>
    <div class="container-article">
        <img src="{{ post.user.profile.imagen.url }}">
        <div>
            <h2 class="username"><a href="#">@{{post.user.username}} {{user}}</a></h2>
            <i class="clock"></i>
            <time data-time="#">{{post.fecha|naturaltime}}</time>
            <div class="post">{{post.contenido}}</div>
           
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}