<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Django Social</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'profileFeed.css' %}">

	
</head>

<body style="background: -webkit-linear-gradient(left, #3931af, #00c6ff);">

	<header class="main-head">
		<nav class="main">
			<h1 id="logo">Bienvenido </h1>
			<ul>
				<li><a href="#">Logout</a></li>
				<li><a href="{% url 'register' %}">Register</a></li>
				<li><a href="{% url 'signin' %}">Login</a></li>
			</ul>
		</nav>
	</header>





	<!-------------------------------------
					Navigation Bar 
	-------------------------------------->
	


			{% block content %}
			{% endblock content %}


		</div>
	</div>

	<footer>
		<div class="row">
			<p>Derechos reservados Johan Alfaro Ruiz</p>
		</div>
	</footer>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
</body>

</html>