<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<l<link href="{% static '/assets/layouts/vertical-light-menu/css/light/loader.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/layouts/vertical-light-menu/css/dark/loader.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static '/assets/layouts/vertical-light-menu/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static '/assets/src/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    
    <link href="{% static '/assets/layouts/vertical-light-menu/css/light/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/src/assets/css/light/authentication/auth-boxed.css' %}" rel="stylesheet" type="text/css" />
    
    <link href="{% static '/assets/layouts/vertical-light-menu/css/dark/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/src/assets/css/dark/authentication/auth-boxed.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
	<title>Document</title>

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{usuario.profile.imagen.url}}" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                       {{usuario.first_name}} {{usuario.last_name}}
                                    </h5>
                                    <h6>
                                        Estudiante
                                    </h6>
                                    <p class="proile-rating">Carrera : <span>Sistemas Computacionales</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>

					<div class="col-md-auto" >
						<a href="{% url 'feed' %}"class="profile-edit-btn btn" name="btnAddMore" value="Editar Perfil" style="width: 100%; padding: 5px;">Home</a>
                       
						
                    </div>
                    <div class="col-md-auto" >
                        <a href=""class="profile-edit-btn btn" name="btnAddMore" value="Editar Perfil" style="width: 100%; padding: 5px;">Editar perfil</a>
					
                    </div>
					
					
					
                </div>
                <div class="row">
                  
                    <div class="col-md-12" style="padding-left: 14%;">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Numero de control</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{usuario.username}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nombre</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{usuario.first_name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Apellidos</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{usuario.last_name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Semestre</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{semestre.semestre}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{usuario.email}}</p>
                                            </div>
                                        </div>
                            </div>
                          
                    </div>
                </div>
            </form>           
        </div>








	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

</head>
<body>
	
</body>
</html>