{% extends 'social/layout.html' %}
{% block content %}

<!-- Profile -->
<div class="profile">
	<img src="{{user.profile.imagen.url}}">
	<h2>@{{user.username}}</h2>
	<p>Numero de control:19161229</p>
	<button><a class="follow-button" href="#">Follow</a></button>
</div>

<!-- Follow items -->
<div class="follow">
	
	<div>
		<h5>Nombre</h5>
		<p>{{Usuarios.nControl}}</p>
	</div>
	<div>
		<h5>Apellido</h5>
		<p>{{user.last_name }}</p>

	</div>
	<div>
		<h5>Semestre</h5>
		<p>7</p>
	</div>
	
</div>


<!-- block super -->
{% endblock %}