
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    
    <link rel="icon" type="image/x-icon" href="{% static '/assets/src/assets/img/favicon.ico' %}"/>
    <link href="{% static '/assets/layouts/vertical-light-menu/css/light/loader.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/layouts/vertical-light-menu/css/dark/loader.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static '/assets/layouts/vertical-light-menu/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static '/assets/src/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    
    <link href="{% static '/assets/layouts/vertical-light-menu/css/light/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/src/assets/css/light/authentication/auth-boxed.css' %}" rel="stylesheet" type="text/css" />
    
    <link href="{% static '/assets/layouts/vertical-light-menu/css/dark/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/src/assets/css/dark/authentication/auth-boxed.css' %}" rel="stylesheet" type="text/css" />
    
    <title>Registrate</title>
  
    
</head>
<body class="form">

   
    <!--  END LOADER -->

    <div class="auth-container d-flex">

        <div class="container mx-auto align-self-center">
    
            <div class="row">
    
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
    
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    
                                    <h2>Registrarse</h2>
                                    <p>TecNM Campus Oaxaca</p>
                                    
                                </div>


                                <form action="/register/" method="post">
                                    {% csrf_token %}
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Numero de control</label>
                                        <input type="text" class="form-control add-billing-address-input" id="ncontrol" name="ncontrol">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Nombre</label>
                                        <input type="text" class="form-control add-billing-address-input" id="nombre" name="nombre">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Apellido Paterno</label>
                                        <input type="text" class="form-control add-billing-address-input" id="apellidoP" name="apellidoP">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Apellido Materno</label>
                                        <input type="text" class="form-control add-billing-address-input" id="apellidoM" name="apellidoM">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Semestre </label>
                                        <select class="form-select" required  id="semestre" name="semestre">
                                            <option selected disabled value="">Eliga su semestre...</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            
                                        </select>
                                    </div>
                                                                      
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Correo institucional</label>
                                        <input type="email" class="form-control" id="correo" name="correo">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Contraseña</label>
                                        <input type="password" class="form-control" id="pass1" name="pass1">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Confirmar contraseña </label>
                                        <input type="password" class="form-control" id="pass2" name="pass2">
                                    </div>
                                </div>
                            
                                <div class="col-12">
                                    <div class="mb-4">
                                        <button class="btn btn-secondary w-100"">SIGN UP</button>
                                    </div>
                                </div>

                            </form>
                                <div class="col-12">
                                    <div class="text-center">
                                        <p class="mb-0">Already have an account ? <a href="javascript:void(0);" class="text-warning">Sign in</a></p>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->


</body>
</html>